<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content style="min-height: 100vh">
    <app-header (drawerToggled)="drawer.toggle()"></app-header>
    <div class="pt-90 pt-md-200 pb-100 px-0 px-md-3 container-md">
      <div class="p-5 px-3 px-md-5 page__background">
        <h1 class="text-center">Welcome</h1>
        <div style="display: block">
          <canvas
            baseChart
            width="2"
            height="1"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
          >
          </canvas>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
