a:hover {
  cursor: pointer;
}

a.hover-accent:hover {
  color: var(--app-accent) !important;
}

a.hover-black:hover {
  color: black !important;
}

a.u-0 {
  text-decoration: none;

  &.u-hover {
    &:hover {
      text-decoration: underline;
    }
  }
}
