.card {
  position: relative;
  width: 100%;
  .spacer {
    padding-top: 63%;
  }
  & > .body {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    .card__contents {
      height: 100%;
      color: white;
      text-shadow: auto;

      .card__image {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
      }
      .card__body {
        .card__options-button {
          position: absolute;
          top: 0rem;
          right: 0rem;
        }
      }

      .card__qrcode {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        width: 15%;
        .spacer {
          width: 100%;
          padding-top: 100%;
        }
        & > .body {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}