<div class="card">
  <div class="spacer"></div>
  <div class="body">
    <ng-content
      *ngIf="options.overrideDesign"
      select=".card__contents"
    ></ng-content>

    <ng-container *ngIf="!options.overrideDesign && card">
      <div class="card__contents rounded">
        <div class="card__body p-3">
          <button
            mat-icon-button
            [matMenuTriggerFor]="cardOptions"
            class="card__options-button"
            disableRipple
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #cardOptions="matMenu" xPosition="before">
            <button *ngIf="!card.IsActive" mat-menu-item>
              {{
                activeCardExists
                  ? "Swap with active card"
                  : "Set as active card"
              }}
            </button>
            <a mat-menu-item routerLink="/cards/edit-card/{{ card.Id }}"
              >Edit</a
            >
            <button *ngIf="!card.IsActive" mat-menu-item class="text-danger">
              Delete
            </button>
          </mat-menu>
        </div>
        <div class="card__qrcode">
          <div class="spacer"></div>
          <div class="body bg-white p-1">
            <qrcode
              [qrdata]="card.Id"
              [width]="100"
              [errorCorrectionLevel]="'M'"
            ></qrcode>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="!options.overrideDesign && card">
  <div class="w-100 text-nowrap pt-2 px-2">
    <table>
      <tbody>
        <tr>
          <th>Card Name</th>
          <td class="ps-3 text-truncate w-100">{{ card.Nickname }}</td>
        </tr>
        <tr>
          <th>Reward Profile</th>
          <td *ngIf="card.RewardProfile" class="ps-3 w-100">
            {{ card.RewardProfile.Name }}
          </td>
          <td *ngIf="!card.RewardProfile" class="ps-3 w-100 text-muted">
            (No reward profile attached)
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
