<form class="mt-5" (submit)="$event.preventDefault()">
  <div class="row">
    <div class="col-12 col-md-2">
      <label class="ms-2 mb-2 mt-md-4 mb-md-0 ms-md-0 b-5"
        >Reward Profile Name<span class="text-danger">*</span></label
      >
    </div>
    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <input
          matInput
          placeholder="Enter a name for this reward profile"
          name="name"
          [(ngModel)]="rewardProfileName"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="mt-5 row">
    <div class="col-12 col-md-2">
      <label class="ms-2 mb-2 mt-md-4 mb-md-0 ms-md-0 b-5">
        Choose a reward configuration<span class="text-danger">*</span>
      </label>
    </div>
    <div class="mt-0 mt-md-1 col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Select config</mat-label>
        <mat-select [(value)]="rewardConfigId">
          <ng-container *ngFor="let rewardConfig of rewardConfigs">
            <mat-option
              [value]="rewardConfig.Id"
              [disabled]="rewardConfig.IsPremium"
              >{{ rewardConfig.Title | titlecase }}
              {{ rewardConfig.IsPremium ? "(Premium)" : null }}</mat-option
            >
          </ng-container>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <!-- <div class="mt-5 row scheme__configs">
    <div class="col-12 col-md-6 offset-md-2">
      <ng-container [ngSwitch]="rewardConfigId">
        <ng-container *ngFor="let rewardConfig of rewardConfigs">
          <div *ngSwitchCase="rewardConfig.Id">
            {{ rewardConfig.Title | titlecase }}
            <div class="d-flex flex-wrap align-items-center">
              <span>Spend</span>
              <mat-form-field
                appearance="outline"
                class="m-0"
                [style.width.px]="100"
              >
                <mat-icon matPrefix>attach_money</mat-icon>
                <input matInput placeholder="5" type="number" />
              </mat-form-field>
              <span>to earn</span>
              <mat-form-field
                appearance="outline"
                class="m-0 p-0 short"
                [style.width.px]="100"
              >
                <input matInput placeholder="1" type="number" />
              </mat-form-field>
              <span>points</span>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div> -->
  <div class="mt-100 row">
    <div
      *ngIf="!formState.success"
      class="col-12 col-md-6 offset-md-2 d-flex align-items-center"
    >
      <span>
        <button
          *ngIf="!formState.submitting"
          mat-flat-button
          color="primary"
          class="me-3 text-accent-l"
          (click)="handleSubmitRewardProfileForm()"
          [disabled]="formState.submitting"
        >
          Save changes
        </button>
        <button
          *ngIf="formState.submitting"
          mat-flat-button
          color="primary"
          class="me-3 button--primary"
          disabled
        >
          Save changes
        </button>
      </span>
      <span class="cancel me-3">
        <button
          mat-flat-button
          color="primary"
          (click)="handleGoBack()"
          [disabled]="formState.submitting"
        >
          Cancel
        </button>
      </span>
      <mat-spinner
        *ngIf="formState.submitting"
        color="accent"
        diameter="35"
      ></mat-spinner>
    </div>
    <div *ngIf="formState.success" class="col-12 col-md-6 offset-md-2">
      <button
        mat-flat-button
        color="primary"
        class="me-3 text-accent-l"
        (click)="handleDone()"
        [disabled]="formState.submitting"
      >
        Done
      </button>
    </div>
  </div>
</form>
