.scheme__configs {

  .mat-form-field.p-0.short {
    padding-bottom: 0px !important;
    .mat-form-field-wrapper {
      padding-bottom: 0px !important;
      .mat-form-field {
        width: 50px !important;
      }
    }
  }
}
