<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content style="min-height: 100vh">
    <app-header (drawerToggled)="drawer.toggle()"></app-header>
    <div class="pt-90 pt-md-200 pb-100 px-0 px-md-3 container-md">
      <div class="p-5 px-3 px-md-5 page__background">
        <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>

        <div class="row">
          <div class="col-12 col-md-8 d-flex flex-wrap align-items-center">
            <h1 class="m-0 me-auto text-nowrap">Edit Reward Profile</h1>
            <button
              mat-flat-button
              color="warn"
              (click)="handleDeleteRewardProfile()"
            >
              Delete
            </button>
          </div>
        </div>
        <app-reward-profile-form
          [formState]="formState"
          [rewardProfile]="rewardProfile"
          (submitRewardProfileForm)="handleSubmitRewardProfileForm($event)"
        ></app-reward-profile-form>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
