<app-header></app-header>
<div class="pt-100 container">
  <div class="mb-5 px-3 py-2 alert">
    You are currently creating a card. Would you like to <a class="b-5 text-white" routerLink="/cards">continue</a> creating that card or <a class="b-5 text-white" routerLink="/cards">create a new card</a>?
    <button mat-icon-button class="float-end" style="transform: translate(1rem, -0.6rem);" disableRipple><mat-icon>close</mat-icon></button>
  </div>
  <h2>Active Cards</h2>
  
  <h2>Inactive Cards</h2>
  <div class="row">
    <div class="col-6">asdf</div>
    <div class="col-6">asdf</div>
  </div>
  <p>cards</p>
</div>