<div id="continueCardCreateAlert" class="mb-5 px-3 py-2 alert">
  <button
    mat-icon-button
    class="float-end closeButton"
    style="transform: translate(1rem, -0.6rem)"
    disableRipple
  >
    <mat-icon>close</mat-icon>
  </button>
  You are currently creating a card. Would you like to
  <a
    class="b-5 text-white hover-accent"
    routerLink="/cards/create-card/765765"
    >continue</a
  >
  creating that card or
  <a class="b-5 text-white hover-accent" routerLink="/cards/create-card"
    >create a new card</a
  >?
</div>