.card__contents {
  height: 100%;

  .background {
    position: absolute;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &.border {
      border-width: 3px !important;
      border-color: rgba(0, 0, 0, 0.2) !important;
    }
  }
  .body {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
