<div class="p-5">
  <h1 class="mb-5">Account Settings</h1>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <div>
        asdfasdf
      </div>
    </mat-expansion-panel>

  
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Day of the trip
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <div>
        asdfasdf
      </div>
    </mat-expansion-panel>
    
  </mat-accordion>
</div>