<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'">
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content style="min-height: 100vh">
    <app-header (drawerToggled)="drawer.toggle()"></app-header>
    <div class="pt-90 pt-md-200 pb-100 px-0 px-md-3 container-md">
      <div class="page__background">
        <!-- <mat-tab-group
          selectedIndex="3"
        > -->
        <mat-tab-group
          color="accent"
          backgroundColor="primary"
          mat-stretch-tabs
          animationDuration="0ms"
        >
          <mat-tab label="Organisation">
            <app-organisation-settings></app-organisation-settings>
          </mat-tab>
          <mat-tab label="Account">
            <app-account-settings></app-account-settings>
          </mat-tab>
          <mat-tab label="User">
            <app-user-settings></app-user-settings>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
